.log {
  color: blue;
}

.amarelo {
  background-color: yellow;
}

.verde {
  text-align: center;
  font-size: 50px;
  background-color: green;
  color: coral;
  width: 50%;
  margin: 0 auto;
}

.caixa {
  background-color: orange;
  width: 20px;
  height: 20px;
  border: 2px solid rebeccapurple;
  list-style: none;
}