body {
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
  font-size: 10px;
  padding: 20px 30px;
}

header {
  text-align: center;
}

header img {
  height: 10%;
  margin-bottom: 20px;
  width: 10%;
}

main {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 10px;
}

input {
  width: 100px;
  background-color: hsl(189, 41%, 97%);
  border: none;
  border-radius: 5%;
  color: hsl(184, 14%, 56%);
  font-size: 8px;
  padding: 2px;
}

.side-by-side {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}

.left-side {
  margin: 0 5px;
}

.left-side > section {
  margin: 5px 0;
}

.left-side button {
  background-color: hsl(183, 100%, 15%);
  border: none;
  border-radius: 2px;
  color: hsl(0, 0%, 100%);
  font-size: 6px;
  font-weight: 600;
  padding: 3px;
  width: 30%;
}

#right-side  {
  background-color: hsl(183, 100%, 15%);
  border-radius: 5%;
  color: hsl(0, 0%, 100%);
  padding: 10px;
}

#right-side > section {
  margin: 5px 0;
}

#right-side > button {
  font-size: 6px;
  width: 100%;
}

#result-tip-amount, #result-total {
  color: hsl(172, 67%, 45%);
  font-size: 17px;
}

.left-side .selected {
  background-color: cornflowerblue;
}